doc/apatinml.dtd

<!ELEMENT emailaddress ( #PCDATA ) >

<!ELEMENT input ( sequenceid, sequence, emailaddress, parameter+ ) >

<!ELEMENT parameter EMPTY >
<!ATTLIST parameter param CDATA #REQUIRED >
<!ATTLIST parameter server CDATA #REQUIRED >
<!ATTLIST parameter value CDATA #REQUIRED >

<!ELEMENT sequence ( #PCDATA ) >

<!ELEMENT sequenceid ( #PCDATA ) >

